.App header h3 a{
    text-decoration-line: none;
    color: black;
}

.App header{
    max-width: 100%;
    width: 100%;
    height: 60px;
    z-index: 1; 
    background-color: azure;
    position: fixed;
    /* background-color: black; */
}

.App header h3{
    margin: 12px 30px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 3px solid black;
    display: inline-block;
    
}

.App #theme-changer{
    z-index: 10;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    right: 2%;
}

.App #theme-changer:hover{
    cursor: pointer;
}

.App #account{
    display: inline-block;
    position: absolute;
    right: 6.5%;
    top: 12px;
    /* width: 40px;
    height: 40px; */
    zoom: 135%;
}

.App #account:hover{
    cursor: pointer;
}

.App div.logPage{
    /* background-color: blanchedalmond; */
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 11;
    
}

.App #logpage{
    position: fixed;
    border-radius: 1.5%;
    box-shadow: 5px 4.5px 1px -1px rgba(0, 0, 0, 0.411);
    top: 10%;
    left: 7.5%;
    width: 85%;
    height: 80%;
    z-index: 13;
    background-color: whitesmoke;
}

.App .logPage tag{
    z-index: 12;
    width: 100%;
    height: 100%;
    position: absolute;
}

.App .logPage .container{
    margin: 2% 2.5%;
    padding: 2% 2.5%;
}

.App #log-switch{
    margin: 0 41%;
    width: 10%;
    text-align: center;
    position: absolute;
    bottom: 4.5%;
    align-items: center;
}

.App span{
    font-size: 20px;
}

.App #gap{
    font-size: 20px;
    color: rgb(56, 145, 223);
    font-weight: 800;
}

.App span.select:hover{
    cursor: pointer;
}

.App span.selected{
    color: rgb(24, 120, 204);
}