/* 进行初始化 */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-weight: 500; */
    font-family: Georgia;
}
/* h3的a标记 */
/* 取消了链接下划线的效果 */
header h3 a{
    text-decoration-line: none;
    color: black;
}
/* 顶部的标题 */
header{
    max-width: 100%;
    width: 100%;
    height: 60px;
    z-index: 1; 
    background-color: azure;
    position: fixed;
    /* background-color: black; */
}

/* 对标题的h3进行设定 */
/* 修改为了inline-block模式 并且增加了圆角 */
header h3{
    margin: 12px 30px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 3px solid black;
    display: inline-block;
    position: relative;
    /* bottom: 1px; */
}
/* 对顶部的图片进行修饰 */
/* 使用relative的position来确定位置 */
section.start-poster{
    position: relative;
    top: 60px;
}
/* 控制图片的高度 */
#start{
    height: 600px;
}
/* 对导航栏套用sticky的position */
/* 提升虚拟的层级 */
.main-nav{
    position: sticky;
    top: 60px;
    z-index: 1;
}
/* 将导航的外部设定成nowrap可以让他进行换行草组 */
.main-nav ul{
    width: 100%;
    max-width: 100%;
    background-color: aliceblue;
    white-space: nowrap;
}
/* 对导航的内容的每个元素进行设定 */
/* 使用了inline-block可以让他们都在一行上 */
.main-nav li{
    display: inline-block;
    width: 24%;font-size: 1.2em;
    text-align: center;
    padding: 6px 5px;
    margin: 6px 4.5px;
}
/* 消除a的修饰 */
.main-nav li a{
    color: black;
    text-decoration-line: none;
    font-size: 28px;
}
/* 对非本页的网页 滑鼠hover时候, 进行缩放 */
.nonhome:hover{
    font-size: 1.5em;
}
/* 对article模块的样式进行修饰 */
article{
    margin: 30px 35px;
    padding: 20px 20px;
}

h4{
    font-size: 50px;
    text-align: center;
    /* font-size: 1.2em; */
}

.intro-paragraph p{
    font-style: italic;
}


p{
    margin: 20px 0;
    font-size: 26px;
}

section.cg{
    margin: 0 35px 55px;
    padding: 0 20px;
}


section figure{
    width: 33%;
    display: inline-block;
    vertical-align: top;
}

.characters figure{
    width: 100%;
}

.characters img{
    position: absolute;
    right: 4%;
}

.characters img.thin{
    position: absolute;
    right: 7%;   
    margin-top: 1.5%;
}

.characters p{
    width: 78%;
    /* z-index: 20; */
}

.characters #middle{
    margin-top: 4%;
}

/* 对小屏幕的设备进行谁定 */
@media  screen and (max-width: 1000px) {
    section.slogan{
        font-size: 40px;
    }
    nav li a{
        font-size: 20px;
    }
    nav li{
        padding: 6px 2px;
        margin: 6px 1px;
    }

    section figure{
        width: 60%;
        align-items: center;
        margin: 5px 25%;
        /* margin: 0 auto; */
    }
    section.characters figure{
        width: 100%;
        align-items: center;
        margin: 0 0;
    }
}
/* 对figure的img进行设定 */
section figure img{
    height: 250px;
    margin: 10px 5px;
    padding: 10px 5px;
}

.characters p{
    font-style: italic;
}

section.characters{
    margin: 20px 35px;
    padding: 0 20px;
}
/* 滑鼠hover的时候, 让图片向上移动10px */
.cg-list img:hover{
    position: relative;
    top: -10px;
}

section.slogan{
    padding: 100px 40px;
    padding: 250px 0;
    text-align: center;
    font-size: 47px;
}

section.mail-subscribe{
    margin: 35px 35px;
}
/* 对输入框进行修饰 */
.mail-subscribe input{
    width: 70%;
    height: 50px;
    padding: 20px 30px;
    margin: 25px 0;
    border: 3px solid rgb(132, 159, 190);
    border-radius: 5px;
    font-size: 24px;
}

/* 选中之后, 输入框变成虚线 */
.mail-subscribe input:focus{
    border: rgba(132, 159, 190, 0.698) dotted;
    outline: none;
}

footer{
    margin: 30px 35px;
}

footer p{
    font-size: 14px;
}

b{
    font-size: 1.1em;
}

section.goto-top{
    position: relative;
}

/* 将返回顶部的按钮设定成absolute的位置 */
section.goto-top a{
    position: absolute;
    /* : 2000px; */
    bottom: 7%;
    right: 3%;
    margin: 20px 35px;
}

#submit-button{
    margin: 20px 0;
    padding: 15px 7px;
    background-color: aliceblue;
    width: 10%;
    position: relative;
    bottom: 2px;
    left: 2px;
    font-size: 17px;
    font-weight: bold;
    border: 2px;
    border-color: rgba(240, 248, 255, 0.829);
    border-radius: 5px;
    display: inline-block;
    width: 10%;
}
/* 滑鼠hover按钮变色 */
#submit-button:hover{
    background-color: rgb(171, 193, 212);
    cursor: pointer;
}

#sub-nav-ul{
    position: absolute;
    left: 75%;
    /* top: 1%; */
    width: 100%;
    max-width: 25%;
    background-color: rgb(237, 242, 245);
    /* white-space: nowrap; */
}
/* 对导航的内容的每个元素进行设定 */
/* 使用了inline-block可以让他们都在一行上 */
#sub-nav-ul li{
    display: block;
    width: 98%;
    text-align: center;
    padding: 6px 5px;
    margin: 6px 4.5px;
}
/* 消除a的修饰 */
#sub-nav-ul li a{
    color: black;
    text-decoration-line: none;
    font-size: 28px;
}

#theme-changer{
    z-index: 10;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    right: 2%;
}

#theme-changer:hover{
    cursor: pointer;
}

#more:hover{
    cursor: pointer;
}