.App header h3 a{
    text-decoration-line: none;
    color: black;
}

.App header{
    max-width: 100%;
    width: 100%;
    height: 60px;
    z-index: 1; 
    background-color: azure;
    position: fixed;
    /* background-color: black; */
}

.App header h3{
    margin: 12px 30px;
    padding: 5px 10px;
    border-radius: 7px;
    border: 3px solid black;
    display: inline-block;
    
}

.App #theme-changer{
    z-index: 10;
    position: absolute;
    width: 40px;
    height: 40px;
    top: 12px;
    right: 2%;
}

.App #theme-changer:hover{
    cursor: pointer;
}